<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!--
    <link rel="stylesheet" type="text/css" href="/css/coqdoc.css"/>-->
    <meta name="description" content="Mathematics library for coq based on type classes">
    <title>{{ page.title }} - Math Classes</title>
</head>
<body>

<div id="body">

<div id="header">
<span id="title"><a href="/">Math Classes</a></span>
</div>

<div id="main">

<div id="left">
<menu>
    <li><a href="/">About</a></li>
    <li><a href="/motivation.html">Motivation</a></li>
<!-- <li><a href="#">Tutorial</a></li> -->
    <li><a href="/publications.html">Publications</a></li>
    <li><a href="/people.html">People</a></li>
    <hr/>
<!--
    <li><a href="/coqdoc/toc.html">Coqdoc</a></li> -->
    <li><a href="http://www.cs.ru.nl/~jherold/math-classes-doc/toc.html">Coqdoc</a></li>
    <li><a href="http://github.com/math-classes">Github</a></li>
    <li><a href="http://coq.inria.fr/cocorico/MathClasses">Wiki</a></li>
</menu>
</div>

<div id="right">
{{ content }}
</div>
</div>

<div id="footer">
<p class="attribution">
    The research leading to these results has received funding from the
    European Union's 7th Framework Programme under grant agreement nr.
    243847 (<a
    href="http://wiki.portal.chalmers.se/cse/pmwiki.php/ForMath/ForMath">ForMath</a>).
</p>
</div>

</div>

</body>
</html>
